---
import Layout from '../../layouts/Layout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import {   defaultLang, type LanguageCode,  } from '../../i18n/config';
export const prerender = false;
import en from '../../i18n/en.json';
import vi from '../../i18n/vi.json';
import ko from '../../i18n/ko.json';
import tl from '../../i18n/tl.json';
import ne from '../../i18n/ne.json';
import pt from '../../i18n/pt.json';
import id from '../../i18n/id.json';
import my from '../../i18n/my.json';
import zh from '../../i18n/zh.json';
import zh_tw from '../../i18n/zh_tw.json';
import ja from '../../i18n/ja.json'; 
// Map translations to each supported language
const translations: Record<LanguageCode, typeof en> = {
  en,
  vi,
  ko: ko,
  tl: tl,
  ne: ne,
  pt: pt,
  id: id,
  my: my,
  zh: zh,
  zh_tw: zh_tw,
  ja: ja,
};
// Get the language param and validate it
const lang = (Astro.params.lang ?? defaultLang) as LanguageCode;
const t = translations[lang];
---

<Layout>
  <a href={getRelativeLocaleUrl(lang, '/')}>Home</a> 
  <h1>{t.about.title}</h1>
  <p>{t.about.content}</p>
</Layout>
